<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="WindlogView test and development for displaying data">
    <meta name="author" content="Gilles LONGUET">

    <!-- flask insert for dynamic title -->
    <title>{{ title }} - WindlogView</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- Custom styles for this template -->
    <!-- <link href="css/2-col-portfolio.css" rel="stylesheet"> -->
    <link href="/static/css/2-col-portfolio.css" rel="stylesheet" media="screen">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href=""{{ url_for('index') }}"">WindlogView</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('index') }}">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('feeds') }}">Feeds</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">todo</a>
            </li>
            <li class="nav-item">
              {% if current_user.is_anonymous %}
              <a class="nav-link" href="{{ url_for('login') }}">Login</a>
              {% else %}
              <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Display error messages -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <!-- END - Display error messages -->


    <!-- Page Content -->
    <div class="container">
      {% block content %}{% endblock %} <!-- insert for flask template -->
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Opensource!</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
