{% extends "base.html" %}  <!-- Inherit from base.html -->

{% block content %}
<!-- Page Heading -->
<h1 class="my-4">WindlogView feeds list owned by
  <small>{{ current_user.username }}</small>
</h1>

<div class="row">
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">name</th>
      <th scope="col">type</th>
      <th scope="col">last value</th>
      <th scope="col">unit</th>
      <th scope="col">timestamp</th>
      <th scope="col">owned by</th>
      <th scope="col">Delete feed</th>
    </tr>
  </thead>
  <tbody>
    {% for feed in current_user.feeds %}   <!-- flask for : add each feed -->
    <tr>
      <th scope="row">{{ feed.id }}</th>
      <td>{{ feed.name }}</td>
      <td>{{ feed.type }}</td>
      <td>{{ feed.value }}</td>
      <td>{{ feed.unit }}</td>
      <td>{{ feed.timestamp }}</td>
      <td>{{ feed.owned }}</td>
      <td><form action="" method="POST" ><button class="btn btn-danger" type="submit" name="delete" value="{{ feed.name }}"> Delete</button> </form></td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
</div>
<!-- /.row -->


{% endblock %}
