{% extends "base.html" %}  <!-- Inherit from base.html -->

{% block content %}
<!-- Page Heading -->
<h1 class="my-4">WindlogView
  <small>{{ current_user.username }}</small>
</h1>

<div class="row">
{% for feed in current_user.feeds %}   <!-- flask for : add each feed -->
  <div class="col-lg-6 portfolio-item">
    <div class="card h-100">
      <h1>{{ feed.value }} {{ feed.unit }} at {{ feed.timestamp }}</h1>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">{{ feed.name }}</a>
        </h4>
        <p class="card-text">Sensor type : {{ feed.type }}</p>
      </div>
    </div>
  </div>
{% endfor %}
</div>
<!-- /.row -->


{% endblock %}
